/* Update css (put this before all css) */


/* Navbar reset */
.navbar-brand:before {
  background: none;
}

.navbar-brand {
    padding-left: 0;
}

.navbar-default * + .navbar-nav {
    margin-left: 0;
}

.navbar-default .navbar-brand {
    margin-top: 0;
}

.navbar-default .navbar-nav > li > a > i{
	font-size: 20px;
}

.sf-menu > li > ul li {
    padding: 5px 0;
}

.isStuck .sf-menu ul {
    top: 70px;
}

.dropdown-menu {
    top: 97%;
}

/* Card */
.card {
	height: 300px;
	width: 100%; 
	overflow: hidden;
	position: relative;
}

.card-background {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}

.card-background span {
	content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, transparent 80%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, transparent 80%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, transparent 80%);
    top: 0;
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -o-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
}

.card:hover .card-background span {
	content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    position: absolute;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, transparent 80%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, transparent 80%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, transparent 80%);
    top: 0;
}

.card-wrapper {
	position: absolute;
    bottom: -10px;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}

.card-wrapper h2 {
	font-size: 24px;
	color: white;
	padding-bottom: 6px;
}

.card-wrapper p {
	color: white;
	margin: 0;
    line-height: 1.4;
}

.card:hover .card-background {
	-ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card:hover .card-wrapper {
	position: absolute;
    bottom: 20px;
    opacity: 1;
}

.card-main {
	padding: 0 10px;
}

/* Footer */
.marked-list1 li a {
	padding: 0;
}

.marked-list li a {
	padding: 0;
}

.marked-list1 li a:before {
	content: none;
}

.marked-list li a:before {
	content: none;
}

.marked-list1 li + li {
	margin-top: 6px;
}

.marked-list1 li a:hover span {
	text-decoration: none;
}

/* Share Button */
.share {
	display: inline-block;
	margin: 10px;
}

.share:first-child{
	margin-left: 0;
}

.share-inside {
	width: 45px;
	height: 45px;
	background: white;
}

.share-inside i {
	display: block;
    line-height: 45px;
    font-size: 18px;
    text-align: center;
}

/* Form */
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
    padding: 12px 20px;
}