@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@font-face {
  font-family: Linecons;
  src: url(fonts/linecons.ttf);
  
  /* Имя шрифта */
  /* Путь к файлу со шрифтом */
}
.search-form {
  display: block;
  position: relative;
  width: 49%;
  margin-top: 53px;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px) {
  .search-form {
    width: 90%;
  }
}
.search-form_label {
  width: 79%;
  display: block;
  padding: 10px 20px 10px 67px;
  background: #ffffff;
  border: 2px solid transparent;
  float: left;
}
@media (max-width: 1199px) {
  .search-form_label {
    width: 75%;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .search-form_label {
    width: 100%;
    padding-left: 20px;
    padding-right: 70px;
  }
  .search-form_label:before,
  .search-form_label:after {
    display: none;
  }
}
.search-form_label:before {
  content: '\f002';
  position: absolute;
  top: 16px;
  left: 20px;
  height: 22px;
  font: 400 16px/16px 'FontAwesome', sans-serif;
  color: #a3a3a3;
}
.search-form_label:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 50px;
  background: #a3a3a3;
  top: 0px;
  left: 51px;
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #777777;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  height: 26px;
}
.search-form_submit {
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 14.5px 29px;
}
.search-form_submit:after {
  display: none;
}
@media (max-width: 991px) {
  .search-form_submit {
    padding: 0;
    position: absolute;
    font-size: 0;
    top: 0;
    right: 0;
    width: 47px;
    height: 50px;
    background: transparent;
  }
  .search-form_submit:before {
    content: '\f002';
    position: absolute;
    top: 16px;
    right: 14px;
    height: 22px;
    color: #5bc8a5;
    font: 400 16px/16px 'FontAwesome', sans-serif;
    -moz-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .search-form_submit:hover:before {
    color: #333333;
  }
}
.search-form-1 {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.search-form-1:before,
.search-form-1:after {
  content: " ";
  display: table;
}
.search-form-1:after {
  clear: both;
}
.search-form-1:before,
.search-form-1:after {
  content: " ";
  display: table;
}
.search-form-1:after {
  clear: both;
}
@media (max-width: 991px) {
  .search-form-1 {
    width: 80%;
    padding-bottom: 115px;
  }
}
.search-form-1 .search-form_label {
  padding: 10px 70px 10px 20px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  width: 100%;
}
.search-form-1 .search-form_label:before,
.search-form-1 .search-form_label:after {
  display: none;
}
.search-form-1 .search-form_input {
  height: 28px;
}
.search-form-1 .search-form_submit {
  padding: 0;
  position: absolute;
  font-size: 0;
  top: 0;
  right: 0;
  width: 55px;
  height: 50px;
  background: transparent;
  border: none;
  border-left: 1px solid #ccc;
}
.search-form-1 .search-form_submit:before {
  content: '\f002';
  position: absolute;
  top: 17px;
  right: 19px;
  height: 22px;
  color: #5bc8a5;
  font: 400 14px/16px 'FontAwesome', sans-serif;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-form-1 .search-form_submit:hover:before {
  color: #333333;
}
.search-form-1 .search-form_liveout {
  top: 50px;
}
.search-form_toggle {
  display: inline-block;
  color: #ffffff;
  font: 400 14px/14px 'FontAwesome';
  position: absolute;
  right: 0%;
  top: 0%;
  min-width: 13px;
}
.search-form_toggle:before {
  content: '\f002';
}
.search-form_toggle:after {
  content: '';
  position: absolute;
  height: 32px;
  width: 1px;
  background: #484643;
  top: -10px;
  left: -27px;
}
.search-form_toggle.active,
.search-form_toggle:hover {
  color: #333333;
}
.search-form_toggle.active:before {
  content: '\f00d';
}
@media (max-width: 1199px) {
  .search-form_toggle {
    right: 5%;
  }
}
@media (max-width: 767px) {
  .search-form_toggle {
    display: none;
  }
}
.search-form * + .btn {
  margin-top: 0;
}
.search-form.on {
  display: block;
}
.search-form_liveout {
  text-align: left;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 1;
}
.lt-ie9 .search-form_liveout {
  filter: alpha(opacity=0);
}
@media (max-width: 991px) {
  .search-form_liveout {
    top: 50px;
  }
}
.search-form_liveout .search_list {
  position: relative;
  padding: 10px;
  list-style-type: none;
  font-size: 13px;
  line-height: 20px;
  background: #ffffff;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.9);
}
.search-form_liveout .search_list li + li {
  margin-top: 1px;
}
.search-form_liveout .search_list a {
  padding-left: 5px;
}
.search-form_liveout .search_list p {
  margin: 0;
}
.search-form_liveout .search_link {
  font-family: 'PT Sans', sans-serif;
  display: block;
  padding: 2px 10px;
  background: #ffffff;
  color: #5bc8a5;
}
.search-form_liveout .search_link .search_title {
  color: #5bc8a5;
  font: 700 13px/18px 'PT Sans', sans-serif;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #5bc8a5;
  color: #ffffff;
}
.search-form_liveout .search_link:hover .search_title {
  color: #ffffff;
}
.search-form_liveout .search_error {
  display: block;
  color: #5bc8a5;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
  font-size: 14px;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  color: #236751;
  background: #fafafa;
  padding: 10px 10px;
}
.search-form_liveout button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_liveout button:hover {
  background: #5bc8a5;
  color: #ffffff;
}
input:focus + .search-form_liveout {
  opacity: 1;
  filter: alpha(opacity=100);
}
.lt-ie9 input:focus + .search-form_liveout {
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet,
.mobile .search-form_liveout {
  display: none !important;
}
.search-frame,
.search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.search-frame,
.search-frame body,
.search-frame h1,
.search-frame h2,
.search-frame h3,
.search-frame h4,
.search-frame h5,
.search-frame h6,
.search-frame p,
.search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 {
  color: #333333;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}
@media (max-width: 979px) {
  .search-frame h4 {
    font-size: 16px;
    line-height: 16px;
  }
}
.search-frame h4 a:hover {
  color: #5bc8a5;
}
.search-frame .search_list {
  color: #777777;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
  list-style-type: none;
  counter-reset: num1;
}
.search-frame .search_list p {
  font: 300 15px/22px 'PT Sans', sans-serif;
}
.search-frame .search_list .match {
  color: #5bc8a5;
  font-size: 12px;
  display: block;
}
.search-frame .search_list li {
  padding-top: 20px;
  padding-left: 50px;
  position: relative;
  padding-bottom: 20px;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame .search_list li:hover {
  background: rgba(0, 255, 0, 0.1);
}
.search-frame .search_list li:before {
  content: counter(num1) '.';
  counter-increment: num1;
  position: absolute;
  left: 5px;
  top: 20px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: inherit;
}
.search-frame .search_list li + li {
  border-top: 5px solid #5bc8a5;
}
.search-frame .search {
  color: #5bc8a5;
  font-weight: 700;
}
.search-frame .match {
  color: #333333;
  font-size: 12px;
  display: block;
}
.search-frame * + p {
  margin-top: 16px;
}
body.search_body {
  background: #1b1b1d;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.search_head {
  padding-bottom: 25px;
}
