@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@font-face {
  font-family: Linecons;
  src: url(fonts/linecons.ttf);
  
  /* Имя шрифта */
  /* Путь к файлу со шрифтом */
}
