//
// Jumbotron
// --------------------------------------------------


.jumbotron {
  color: @jumbotron-color;
  height: 100%;
  font-size: @jumbotron-font-size;
  text-align: center;
	p{
		small{
			display: block;
			font-size: 37px;
			margin-top: -19px;
		}
	}
	@media (max-width: 991px){
		p{
			line-height: 1.2;
			font-size: 42px;
			small{
				font-size: 28px;
				margin-top: 0;
			}
		}
	}
}

.jumbotron1{
 p{
 	font-size: 55px;
	line-height: 1.3;
	@media (max-width: 767px){
		font-size: 40px;
	}
 }
 p + .btn{
 	margin-top: 58px;
 }
}