@import "mixins.less";
@import "variables.less";

//--------------------------------------------------------------
//                      Search Form
//--------------------------------------------------------------
@form-bg: @white-clr;
@form-width: 49%;
@form-height: 26px;
@form-border: 2px solid transparent;
@form-color: @text-color;
@form-submit-icon: @fa-search;
@form-submit-color: @white-clr;
@form-submit-hover: @brand-primary;


.search-form {
  display: block;
  position: relative;
  // position: absolute;
  width: @form-width;
  margin-top: 53px;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 991px){
    width: 90%;
  }


  &_label {
    width: 79%;
    display: block;
    padding: 10px 70px 10px 67px;
    background: @form-bg;
    border: @form-border;
    float: left;
   @media (max-width: 1199px){
    width: 75%;
    text-align: center;
  }
  @media (max-width: 991px){
    width: 100%;
    padding-left: 20px;
    &:before,
    &:after{
      display: none;
    }
  }
    
    &:before{
      content: @form-submit-icon;
      position: absolute;
      top: 16px;
      left: 20px;
      // width: 25px;
      height: 22px;
      // color: @form-submit-color;
      font: 400 16px/16px 'FontAwesome', sans-serif;
      color: #a3a3a3;      
    }
    &:after{
      content: '';
      position: absolute;
      width: 1px;
      height: 50px;
      background: #a3a3a3;
      top: 0px;
      left: 51px;      
    }
  }

  &_input {
    .reset-input;
    color: @form-color;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    height: 26px;
  }


  &_submit {
    // .reset-button;
    .transition(.3s all ease);
    position: inline-block;        
    font-size: 20px;
    font-weight: 700;
    padding: 14.5px 29px;

    &:after{
      display: none;
    }

    @media (max-width: 991px){
      // .reset-button;
      padding: 0;
      position: absolute;
      font-size: 0;
      top: 0;
      right: 0;
      width: 47px;
      height: 50px;
      background: transparent;
      &:before{
        content: @form-submit-icon;
        position: absolute;
        top: 16px;
        right: 14px;
        // width: 25px;
        height: 22px;
        color: @brand-primary;
        font: 400 16px/16px 'FontAwesome', sans-serif;
        .transition(.3s all ease);   
      }
      &:hover {
        &:before{
          color: @secondary-clr;
        }
      }
    }

    // &:hover {
    //   color: @form-submit-hover;
    // }
  }
}  

.search-form-1{
  .clearfix();
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 991px){
    width: 80%;
    padding-bottom: 115px;
  }
  .search-form_label{
    padding: 10px 70px 10px 20px;
    background: @default-light;
    border: 1px solid #ccc;
    width: 100%;
    &:before,
    &:after{
      display: none;
    }    
  }
  .search-form_input{
    height: 28px;
  }
  .search-form_submit{
    padding: 0;
    position: absolute;
    font-size: 0;
    top: 0;
    right: 0;
    width: 55px;
    height: 50px;
    background: transparent;
    border: none;
    border-left: 1px solid #ccc;
      &:before{
        content: @form-submit-icon;
        position: absolute;
        top: 17px;
        right: 19px;
        height: 22px;
        color: @brand-primary;
        font: 400 14px/16px 'FontAwesome', sans-serif;
        .transition(.3s all ease);   
      }
      &:hover {
        &:before{
          color: @secondary-clr;
        }
      }
  }
  .search-form_liveout{
    top: 50px;
  }
}
  // @media (max-width: 479px) {
  //   .search-form{
  //     float: none;
  //     margin-left: 0;
  //     width: 100%;
  //   }

// }

//--------------------------------------------------------------
//                     Search Toggle
//--------------------------------------------------------------
.search-form_toggle {
  // float: right;
  display: inline-block;
  color: @white-clr;
  font: 400 14px/14px @fa;
  position: absolute;
  right: 0%;
  top: 0%;
  min-width: 13px;

  &:before {
    content: @fa-search;
  }
  &:after{
    content: '';
    position: absolute;
    height: 32px;
    width: 1px;
    background: #484643;
    top: -10px;
    left: -27px;
  }

  &.active, &:hover {
    color: @secondary-clr;
  }
  
  &.active {
    &:before {
      content: @fa-close;      
    }
  }
  @media (max-width: 1199px){
    right: 5%;
  }
  @media (max-width: 767px){
    display: none;
  }
}


.search-form{
  * + .btn{
    margin-top: 0;
  } 
}


.search-form.on{
  display: block;
}

//--------------------------------------------------------------
//                     Search Liveout
//--------------------------------------------------------------
.search-form_liveout {
  text-align: left;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  .opacity(0);
  .transition(.3s all ease);
  z-index: 1;
  @media (max-width: 991px){
    top: 50px;
  }

  .search_list {
    position: relative;
    padding: 10px;
    list-style-type: none;
    font-size: 13px;
    line-height: 20px;
    background: @white-clr;
    .box-shadow(0 0 2px 0 rgba(0,0,0,.9));

    li + li {
      margin-top: 1px;
    }
    a{
      padding-left: 5px;
    }
    p{
      margin: 0;
    }
  }

  .search_link {
    font-family: @font-family-base;
    display: block;
    padding: 2px 10px;
    background: @white-clr;
    color: @brand-primary;


    .search_title {
      color: @brand-primary;
      font: 700 13px/18px @font-family-base;
      text-transform: uppercase;

    }

    &:hover {
      background: @brand-primary;
      color: @white-clr;

      .search_title {
        color: @white-clr;
      }
    }
  }

  .search_error {
    display: block;
    color: @brand-primary;
    background: darken(@white-clr, 2%);
    padding: 10px 10px;
    overflow: hidden;
    font-size: 14px;    
  }

  .match {
    display: none;
  }

  button {
    .reset-button();
    display: block;
    width: 100%;
    color: darken(@brand-primary, 30%);
    background: darken(@white-clr, 2%);
    padding: 10px 10px;

    &:hover {
      background: @brand-primary;
      color: @white-clr;
    }
  }

  input:focus + & {
    .opacity(1);
  }

  .tablet, .mobile & {
    display: none !important;
  }
}

//--------------------------------------------------------------
//                    Search Results Page
//--------------------------------------------------------------
.search-frame {
  &, body {
    width: 100%;
    height: auto;
    background: transparent;
  }

  &, body, h1, h2, h3, h4, h5, h6, p, em{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    &:active {
      background: transparent;
    }

    &:focus {
      outline: none;
    }

    .transition(.3s all ease);
  }

  h4 {
    color: @secondary-clr;
    font-family: @font-family-base;
    font-size: 20px;
    font-weight: 700;
    text-transform: none;

    @media (max-width: 979px){
        font-size: 16px;
        line-height: 16px;
    }
    a:hover {
      color: @brand-primary;
    }
  }

  .search_list {
    color: @text-color;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
    list-style-type: none;
    counter-reset: num1;
    
    p{
      // color: @white-clr;
      font: 300 15px/22px @font-family-base;
    }

    .match {
      color: @brand-primary;
      font-size: 12px;
      display: block;
    }

    li {
      padding-top: 20px;
      padding-left: 50px;
      position: relative;
      padding-bottom: 20px;
      .transition(.3s all ease);
      &:hover{
        background: rgba(0,255,0, .1);
      }

      &:before {
        // color: @white-clr;
        content: counter(num1)'.';
        counter-increment: num1;
        position: absolute;
        left: 5px;
        top: 20px;
        width: 24px;
        height: 24px;
        // font: 400 24px @fa;
        font-size: 24px;
        line-height: inherit;
      }
    }

    & li + li {
      
      border-top: 5px solid @brand-primary;

    }
  }

  .search {
    color: @brand-primary; //match in txt
    font-weight: 700;
  }

  .match {
    color: @secondary-clr;
    font-size: 12px;
    display: block;
  }

  * + p{
    margin-top: 16px;
  }
}

body.search_body{
  background: #1b1b1d;
}

.content{
  padding-top: 40px;
  padding-bottom: 40px;
}

.search_head{
  padding-bottom: 25px;
}

//Show form input 
//----------------------------

// @media (max-width: 767px){
//   @form-height: 30px;

//   .search-form + *{
//     margin-top: 20px;
//   }
//   .search-form{
//     margin-top: 0;
//     position: relative;    
//     display: block;
//     width: 60%;
//     left: 50%;
//     transform: translateX(-50%);

//     &_label{
//       padding: 4px 40px 4px 10px;
//     }
//     .search-form_submit{
//       top: 6px;
//       right: 3px;
//     }
//   }
// }