//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  max-width: 420px;
  margin-top: 10px;
  margin-left: auto;
    margin-right: auto;
  > img,
  a > img {
    &:extend(.img-responsive);
    margin-left: auto;
    margin-right: auto;
  }

  // Image captions
  .caption {
    margin-top: 11px;
    font-size: 15px;
    line-height: 1;
    color: @secondary-clr;
    .price{

      margin-top: -3px;
      color: @brand-primary;
      font-weight: 700;
      span{
        color: #c6c6c6;
        padding: 0 8px;
      }
      small{
        font-weight: 400;
        font-size: 14px;
      }
      sup{
        position: relative;
        font-size: 10px;
      }
    }
  }
}
.thumbnail1{
  .caption{
    margin-top: 15px;
  }
}

.thumbnail2{
  margin-top: -10px;
  .caption{
    p{
      font-size: 14px;
      color: @text-color;
    }
  }
}

.thumb_width{
  max-width: 274px;
}