//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  // line-height: @headings-line-height;
  color: @headings-color;  
  margin: 0;
}


h1, .h1 { 
  font-size: @font-size-h1;
  line-height: @font-lh-h1;
  color: @white-clr; 
  font-weight: 700;
  
  // @media (max-width: 767px){  
  // }
  small,
  .small {
    font-weight: 400;
  }

}
h2, .h2 { 
  font-size: @font-size-h2;
  line-height: @font-lh-h2; 
  // small{
  //   font-weight: 400;
  // }  
  span{
    a{
      color: @brand-primary;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}


h3, .h3 { 
  font-size: @font-size-h3;
  line-height: @font-lh-h3;
  // small{
  //   font-weight: 400;
  // }
}

h4, .h4 { 
  font-size: @font-size-h4;
  line-height: @font-lh-h4;
}

h5, .h5 { 
  font-size: @font-size-h5;
  line-height: @font-lh-h5; 
  color: @secondary-clr;
}
h6, .h6 { 
  font-size: @font-size-h6;
  line-height: @font-lh-h6; 
}


// Body text
// -------------------------

p {
  line-height: @line-height-base;
  margin: 0;
}

.lead{
 font-size: 21px;
 line-height: 30px;
 font-weight: 400;
 color: @secondary-clr;
}


// Main Layout
// -----------------------
* + .row{
margin-top: 23px;
}
.row + *{
  margin-top: 30px;
}
.row + .row{
  margin-top: 21px;
}

* + .row_offs1{
  margin-top: 20px;
}
* + .row_offs2{
  margin-top: 45px;
}
* + .btn{
  margin-top: 10px;
}
* + .btn-lg{
  margin-top: 42px;
}
h2 + *{
  margin-top: 26px;
}
h3 + *{
  margin-top: 26px;
}
* + h3{
  margin-top: 28px;
}
h3 + article{
  margin-top: 17px;
}
img + p{
  margin-top: 22px;
}
img + h3{
  margin-top: 13px;
}
h3 + p{
  margin-top: 12px;
}
.lead + *{
 margin-top: 10px; 
}
* + .lead{
 margin-top: 26px; 
}
.ins1{
    
        padding-left: 8%;
        padding-right: 8%;
    
}


// FA
// -----------------------

.fa{
  line-height: inherit;
}

[class*='fa-']{
    &:before{
      font-family: @fa;
      color: inherit;
    }     
}

// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
  // font-size: floor((100% * @font-size-small / @font-size-base));
  // font-size: inherit;
}

mark,
.mark {
  background-color: @brand-warning;
  padding: .2em;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

.center767{
    @media (max-width: 767px){
        text-align: center;
        *{
            text-align: center;
        }
    }    
}
.center991{
    @media (max-width: 991px){
        text-align: center;
        *{
            text-align: center;
        }
    }    
}
.left767{
    @media (max-width: 767px){
        text-align: left;
        *{
            text-align: left;
        }
    }    
}
.left991{
    @media (max-width: 991px){
        text-align: left;
        *{
            text-align: left;
        }
    }    
}
.right767{
    @media (max-width: 767px){
        text-align: right;
        *{
            text-align: right;
        }
    }    
}
.right991{
    @media (max-width: 991px){
        text-align: right;
        *{
            text-align: right;
        }
    }    
}

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.fw-l{
  font-weight: 300;
}
.fw-n{
  font-weight: 400;
}
.fw-m{
  font-weight: 500;
}
.fw-sb{
  font-weight: 600;
}
.fw-b{
  font-weight: 700;
}
.fw-xb{
  font-weight: 800;
}


.white{
  color: @white-clr;
}

.txt-sec{
  color: @secondary-clr;
}

.def-dark{
  color: @default-dark;
}


// Contextual colors
.text-muted {
  color: @text-muted;
}
.text-primary {
  color: @brand-primary;
}
.text-success {
  color: @brand-success;
}
.text-info {
  color: @brand-info;
}
.text-warning {
  color: @brand-warning;
}
.text-danger {
  color: @brand-danger;
}




// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  *{
    color: #fff;
  }
  background: @brand-primary;
  // .bg-variant(@brand-primary);
}

.bg-secondary{
  background: @secondary-clr;
}

.bg-success {
  background: @brand-success;
}
.bg-info {
   background: @brand-info;
}
.bg-warning {
   background: @brand-warning;
}
.bg-danger {
  background: @brand-danger;
}
.bg1{
  background: @default-light;  
}

// Page header
// -------------------------

.page-header {
  padding-bottom: ((@line-height-computed / 2) - 1);
  margin: (@line-height-computed * 2) 0 @line-height-computed;
  border-bottom: 1px solid @page-header-border-color;
}


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
    li{
      padding: 0;
      list-style: none;
      margin: 0;
      a{
        padding: 0;
        list-style: none;
        margin: 0;
      }
    }  
}

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
/*=================   List Inline   =====================*/
.list-inline {
  .list-unstyled();
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/*=================   Inline list   =====================*/

.inline-list{ //icons
  margin-top: 26px;
    .fa{
        font: 0/0 a;
        &:hover{
          // &:before{
          //   color: @white-clr;
          // }
          &:after{
            background: @brand-primary;
          }
        }
    }
    .fa:before{
        font-size: 15px;
        .transition(.2s);   
        color: @white-clr;
        position: absolute;   
        z-index: 2;
        left: 17px;
        top: 5px;
    }
    .fa:after{
        position: absolute;
        content: '';
        .transition(.2s);   
        .background(@white-clr,.2);
        width: 40px;
        height: 40px;
        // .border-radius(50%);
        z-index: 1;
        top: -17px;
        left: 3px;
    }

    li{
        display: inline-block;
    }

    li + li{
        margin-left: 17%;
        @media (max-width: 600px){
          margin-left: 55px;
        }
    }
} 



/*================      Flex list     =================*/

.flex-list{
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.flex-list li{
    display: table-cell;
    position: relative;
}

@media (max-width: 767px){
    .flex-list{
        li{
            display: block;
        }
    }
}

/*================      Index list     =================*/

.index-list{
    counter-reset: num;
}

.index-list li {
  h3{    
    position: relative;
    padding-left: 73px;
    padding-top: 41px;
    & + *{
      margin-top: 12px;
    }
  
    &:before{
      content: '';
      position: absolute;
      width: 59px;
      height: 59px;
      .border-radius(50%);
      background: @brand-primary;
      // top: 7px;
      bottom: 0;
      left: 0;
    }       
  }
  // & + li{
  //   margin-top: 0;
  // }  
}  

.index-list li h3:after{
  content: counter(num, decimal-leading-zero );
  counter-increment: num; 
  position: absolute; 
  color: @white-clr;
  font-size: 21px;
  font-weight: 400;
  left: 19px;
  // top: 23px;
  bottom: 18px;
}

.index-list1{
  margin-top: 27px;
  li + li{
    margin-top: 17px;
  }
}

.index-list-icons{
  li{
    h3{
      &:after{
        font-family: "Linecons";   
        font-size: 30px;
        left: 15px;
        // top: 19px;
        bottom: 12px;
      }
    }
  }
  li:nth-child(1){
    h3{
      &:after{
        content: '\e02e ';        
      }
    }
  }
  li:nth-child(2){
    h3{
      &:after{
        content: '\e02f';        
      }
    }
  }
  li:nth-child(3){
    h3{
      &:after{
        content: '\e021 ';        
      }
    }
  }
  li:nth-child(4){
    h3{
      &:after{
        content: '\e01a ';        
      }
    }
  }
}

/*================    Marked list     =================*/

.marked-list{
  display: block;
    li{
      a{ 
        position:  relative;
        padding-left: 38px;
        font-size: 21px;
        color: @secondary-clr;
        .transition(0.3s);
        &:before{
          position: absolute;
          content: '\f18e';
          font-family: @fa;
          font-size: 21px;
          left: 0;
          top: -4px;
          color: @brand-primary;
          .transition(0.3s);
        } 
        &:hover{
          color: @brand-primary;
          &:before{
            color: @secondary-clr;
          }
        }
      }
      & + li{
        margin-top: 8px;
      }
      @media (min-width: 768px) and (max-width: 991px){
        &{
          a{
            font-size: 18px;
            line-height: 1.2;
            &:before{
              top: -1px;
            }
          }
        }
      }
    }  
}

.marked-list1{
  margin-top: 21px;
  li{    
    a{
      padding-left: 23px;
      color: @brand-primary;
      font-size: 14px;
      &:before{
        content: '\f054';
        color: @white-clr;
        font-size: 12px;
        top: 0;
      }
      &:hover{
        text-decoration: underline;
        &:before{
          color: @white-clr;
        }
      }
    }
    & + li{
        margin-top: 14px;
      }
  }
}

.marked-list2{
  margin-top: 16px;
  li{
    a{
       &:before{
        color: @text-color;
        top: 0;
        }
        &:hover{
        &:before{
          color: @brand-primary;
        }
      }
    }
  }
}
.marked-list2 + *{
  margin-top: 16px;
}
/*================    Term list     =================*/

.terms-list{
  // margin-top: 8px;
    dt{       
        font-weight: 400;
        color: @secondary-clr;
        font-size: 21px;
    }

    * + dt{
        margin-top: 41px;
    }

    dt + *{
        margin-top: 5px;
    }

    dd{
 
    }
    & + *{
        color: @brand-primary;
        margin-top: 42px;
        a:hover{
          font-weight: 700;
          text-decoration: underline;
        }
    }
}

// Description Lists
dl {
  padding: 0;  
  margin: 0;
  font-style: normal;
}
dt,
dd {
  padding: 0;  
  margin: 0;  
}
dt {
}
dd {  
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  dd {
    &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: @grid-float-breakpoint) {
    dt {
      float: left;
      width: (@dl-horizontal-offset - 20);
      clear: left;
      text-align: right;
      .text-overflow();
    }
    dd {
      margin-left: @dl-horizontal-offset;
    }
  }
}


// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted @abbr-border-color;
}
.initialism {
  font-size: 90%;
  .text-uppercase();
}

// Blockquotes
blockquote {
  margin: 0;  
  margin-top: 5px;
  // font-size: @blockquote-font-size;
  // color: inherit;
  p{
    padding-top: 96px;
    position: relative;
    &:before{
      position: absolute;
      content: '\f10d';
      font-family: @fa;
      font-size: 60px;
      color: @brand-primary;
      top: 0;
      left: 0;
    }
  }
  cite{
    font-weight: 700;
    font-style: normal;
    display: inline-block;    
  }
  * + cite{
      margin-top: 16px;
    }
  q{
      .clearfix();
    }
    
    & + blockquote{
      margin-top: 8px;
    }
}



// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid @blockquote-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ''; }
    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

// Addresses
address.addr {  
 margin-top: 25px;
  font-size: 21px;
  font-style: normal;
  color: @secondary-clr;
  line-height: 1.4;
}

.top-addr{
  dl{
    margin-top: 18px;
  }
  dt{
    font-size: 15px;
    color: @brand-primary;
  }
  dd{
    margin-top: -7px;
    font-size: 17px;
    font-weight: 700;
    color: @white-clr;
    position: relative;
    padding-left: 28px;
    &:before{
      position: absolute;
      content: '\f095';
      font-family: @fa;
      font-size: 26px;
      color: @brand-primary;
      left: 0;
      top: -11px;
    }
  }
  @media (max-width: 991px) {  
    display: none;
  }
}

.addr1{
  margin-top: 11px;
     dl{
       padding-left: 0;
       margin-top: 0px;
      dt,dd{
        font-size: 14px;
        display: inline-block;
        font-weight: 400;
      }
      dt{
        width: 16%;
        min-width: 70px;
      }
      dd{
        width: 65%;
      }
      dd + dt{
        margin-top: 0;
      }
      dt + dd{
        margin-top: 0;
      }

    }
    & .mail{
      dt{
          width: 15%;
          min-width: 53px;
        }
        dd{          
          font-size: 14px;
          color: @brand-primary;
          a{
            &:hover{
              text-decoration: underline;
            }
          }
        }
     }
     @media (max-width: 991px){
      margin-bottom: 20px;            
     }
   }     

.addr_width{
  @media (max-width: 991px){
    address{
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
    }
    .addr1{
      max-width: 200px;
    }
  }
}

// Copyright

.rights{
  font-size: 12px;
  color:  @default-dark;
  padding-top: 15px;
  padding-bottom: 25px;
  border-top: 1px solid rgba(255,255,255,.1); 
  // * + &{
  //   margin-top: 47px;
  // }
}



// Articles

article{
  time{
    font-size: 12px;
    color: @default-dark;
    padding-left: 17px;
    position: relative;    
    &:before{
      position: absolute;
      content: '\f017';
      font-family: @fa;
      top: -2px;
      left: 0;
    }
  }
  p{
    a{      
      &:hover{
        text-decoration: underline;                
      }
    }
  }
  time + *{
    margin-top: -3px;
  }
  // * + &{
  //   margin-top: 7px;
  // }
  & + article{
    margin-top: 15px;
  }    
}
article + .btn{
    margin-top: 34px;
  } 

.artcl1{
  time{
    font-size: 15px;
    font-weight: 700;
    color: @brand-primary;
    padding-left: 0;
    &:before{
      display: none;
    }
  }
  & + article{
    margin-top: 17px;
  }
}


//Figure
//---------------

figure {

  figcaption{
  }

}