//
// Wells
// --------------------------------------------------


// Base class
.well {
  padding-bottom: 50px;
  padding-top: 50px;
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: @border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: @border-radius-small;
}

.well1 {
  padding-bottom: 203px;
  padding-top: 179px;
  @media (max-width: 767px){
  	padding-top: 79px;
  	padding-bottom: 199px;
  }
}

.well2 {
  padding-bottom: 64px;
  padding-top: 52px;
}
.well2_ins1{
  padding-bottom: 69px;
}
.well2_ins2{
  padding-bottom: 50px;
}
.well3 {
  padding-bottom: 52px;
  padding-top: 39px;
}

.well4 {
  padding-bottom: 51px;
  padding-top: 55px;
}
.well5 {
  padding-top: 52px;
}
.well6 {
  padding-bottom: 64px;
  padding-top: 46px;
}

.well7 {
  padding-bottom: 197px;
  padding-top: 257px;
  @media (max-width: 767px){
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.well8 {
  padding-bottom: 120px;
  padding-top: 158px;
  @media (max-width: 767px){
    padding-top: 20px;
    padding-bottom: 80px;
  }
}